{
    "$schema": "http://json.schemastore.org/prettierrc",

    "printWidth": 80,
    "singleQuote": false,
    "semi": true,
    "trailingComma": "all",
    "endOfLine": "lf",
    "overrides": [
      {
        "files": "*.json,*.code-workspace,.prettierrc",
        "options": {
          "parser": "json"
        }
      },
      {
        "files": "*.json5",
        "options": {
          "parser": "json5",
          "singleQuote": false,
          "quoteProps": "consistent"
        }
      },
      {
        "files": "*.md",
        "options": {
          "parser": "markdown"
        }
      }
    ]
}
